{
    "presets": [],
    "plugins": [],
    "env": {
        "prod": {
            "plugins": [
            ]
        },
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    }
}